test
.DS_Store
.idea/
.mypy_cache/
sourceCode/__pycache__/
static/downloads/ans.csv
flaskPart.py
./static/dcy
__pycache__
sourceCode/PlotResult.py
sourceCode/TestData.py
sourceCode/CleanData.py
sourceCode/summary.py
sourceCode/daily_Ashare.csv
sourceCode/tk