<!--
 * @Author: CY Dong
 * @Date: 2020-03-31 23:26:47
 * @LastEditors: CY Dong
 * @LastEditTime: 2020-03-31 23:29:06
 * @FilePath: /asdfghjkl/templates/ans.html
 * @ContactAt: dongcylyj@gmail.com
 -->
<html>
<head>
    <title>ans</title>
    <script>
        function help() {
            alert("You can see the analysis of your data and download what you need");
        }
    </script>
</head>
<body>
<h1>datainfo</h1>
{{ info|safe }} <br/>
{{ pic|safe }}<br/>
{{ link|safe }}
<button onclick="help()">help</button>
</body>
</html>
