<html>
  <head>
    <title>View and Choose</title>
    <script>
      function help() {
        alert("选择处理方式、自变量与因变量");
      }
    </script>
    <style>
      td {
        white-space: nowrap;
      }
    </style>
  </head>
  <body>
    <button onclick="help()">help</button>
    <br><a href="/">退出登录</a>
    <div>
        <br><br><br>
    <form action="/result" method="post">
      {{ command|safe }}<br />
      <input
        type="submit"
        value="next"
      />
    </form></div><br>
    <a href=./browse target="_blank">view data</a>
  </body>
</html>
