<html>
  <head>
    <title>View and Choose</title>
    <script>
      {{check|safe}}
      function help() {
        alert("选择处理缺失值的方式：去除缺失值还是替换为0");
      }
    </script>
    <style type="text/css">
      table {
        border-right: 1px solid #804040;

        border-bottom: 1px solid #804040;

        border-collapse: collapse;

        width: 80%;
      }

      table td {
        border-left: 1px solid #804040;

        border-top: 1px solid #804040;
      }
    </style>
  </head>
  <body bgcolor="white">
    <button onclick="help()">help</button>
    <br><a href="/">退出登录</a>
    <!-- <h1 align="middle" style="margin-top: 30px;">Data Preview</h1> -->
    <center><img src="./static/pic/preview.jpg" height="300px" /></center>
    <br />
    <div style="text-align: center;"><center>{{file|safe}}</center></div>
    <br /><br />
    <center>
      <div style="width: 78%;">
        <form action="/upload" method="post">
          <div style="float: left; width: 26%;">
            <input
              type="radio"
              name="isnull"
              value="drop"
              checked="checked"
              style="font-size: 24px;"
            /><span style="font-size: 24px;">drop null value</span>
          </div>
          <div style="float: left; width: 26%;">
            <input type="radio" name="isnull" value="replace" /><span
              style="font-size: 24px;"
              >replace null with 0</span
            >
          </div>
          <div style="float: left; width: 26%;">
            <input
              type="submit"
              value="next"
              style="height: 40px; font-size: 24px; color: #000000;"
            />
          </div>
        </form>
      </div>
    </center>
  </body>
</html>
