<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title>Upload</title>
    <script>
      function help() {
        alert("在这一页可以上传你的csv数据");
      }
    </script>
  </head>
  <body>
    <button onclick="help()">help</button>
    <br><a href="/">退出登录</a>
    <br><br><br><br><br><br><br><br>
    <center><img src = "./static/pic/upload.jpeg" width="60%"></center>
    <div><center>
        <form action="" method="post" enctype="multipart/form-data">
          <br />
          <br />
          <input type="file" name="file"/><br />
          <p align="middle" style="font-size: 24px;">本页面只可以接受格式为csv的编码为utf-8的数据，允许存在空值</p>
          <input
            type="submit"
            value="upload"
            style="width: 80px; height: 40px; font-size: 16px; color: #000000;"
          />
        </form></center>
      </div>
    </div>
  </body>
</html>
